li {
  cursor: pointer;
}

#TopNavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0em 1em 0em 1em;
}

#LogoImage {
  display: flex;
  flex-direction: row;
}

#BigScreenNavigationMenu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.SmallScreenNavigationMenu {
  display: none;
}

@media screen and (max-width: 800px) {
  #TopNavigationBar {
    justify-content: space-between;
  }
  #BigScreenNavigationMenu {
    display: none;
  }

  .SmallScreenNavigationMenu {
    display: flow;
  }

  #Logo {
    justify-self: center;
  }
}

