li {
  cursor: pointer;
}

#TopNavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0em 1em 0em 1em;
}

.TopNavigationBarItem:hover {
  background-color: rgb(83, 83, 83);
  color: rgb(161, 161, 161);
}

#LogoImage {
  display: flex;
  flex-direction: row;
}

#BigScreenNavigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  height: 100%;
}

.SmallScreenNavigationMenu {
  display: none;
}

@media screen and (max-width: 800px) {
  #TopNavigationBar {
    justify-content: space-between;
  }
  #BigScreenNavigationMenu {
    display: none;
  }

  .SmallScreenNavigationMenu {
    display: flow;
  }

  #Logo {
    margin-left: auto;
    margin-right: auto;
  }
}

#HamburgerMenu {
  cursor: pointer;
}


