.mixCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
}

.mixCard:hover {
    color: red;
    cursor: pointer;
}

.bottomInfo{
    display: flex;
    justify-content: space-between;
    height: 40px;
} 


@media screen and (max-width: 1100px) {
    .mixCard {
        height: 200px;
        width: 200px;
    }
}